.news-item:hover {
  h2 {
    background: linear-gradient(180deg, #fb8627 0%, #f5bef6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  img {
    border-radius: 20px;
  }
  cursor: pointer;
}

.news-title {
  font-size: 1.5rem;
  margin: 20px 0 10px 0;
}

.news-image {
  width: 100%;
  height: 20.833vw;
  object-fit: cover;
  transition-duration: 0.2s;
}

p {
  margin: 0;
}

.news-content {
  font-size: 1rem;
  margin-bottom: 25px;
  color: rgb(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .news-item:hover {
    img {
      border-radius: 0;
    }
  }
  .news-image {
    width: 100%;
    height: 13.625rem;
  }

  .news-date {
    font-weight: 400;
  }

  .news-title,
  .news-content,
  .news-date {
    padding-inline: 10px;
  }

  .news-content {
    width: 18.125rem;
    height: 3.938rem;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 130%;
    margin-bottom: 1.25rem;
    letter-spacing: 0;
  }

  .news-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 19px 0 10px 0;
  }
}
